*.min.js linguist-vendored
*.min.mjs linguist-vendored
*.min.css linguist-vendored

node_modules/** linguist-vendored
vendor/** linguist-vendored
dist/** linguist-vendored
build/** linguist-vendored

docs/** linguist-documentation